<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>185841650823-0jpr81emjscrnbsqoohobo9eaavei21q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.185841650823-0jpr81emjscrnbsqoohobo9eaavei21q</string>
	<key>API_KEY</key>
	<string>AIzaSyDIs3c9WooY40zwSTgAzLEIEYnqHgflTSk</string>
	<key>GCM_SENDER_ID</key>
	<string>185841650823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ompApp</string>
	<key>PROJECT_ID</key>
	<string>omp-app-a406c</string>
	<key>STORAGE_BUCKET</key>
	<string>omp-app-a406c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185841650823:ios:08ea3123194b5b14843c22</string>
</dict>
</plist>